<div class="wrapper">
  <div class="register-card">
    <mat-error class="error" *ngIf="hasError">
      Nastala chyba pri registrácii
    </mat-error>
    <h1 class="title">Vytvorenie účtu</h1>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
      <label class="label">Používateľské meno</label>
      <mat-form-field appearance="outline" class="field">
        <input matInput formControlName="username" />
      </mat-form-field>

      <label class="label">Email</label>
      <mat-form-field appearance="outline" floatLabel="never" class="field">
        <input matInput formControlName="mailAddress" />
      </mat-form-field>

      <label class="label">Heslo</label>
      <mat-form-field appearance="outline" floatLabel="never" class="field">
        <input matInput formControlName="password" />
      </mat-form-field>

      <button
        mat-stroked-button
        class="register-button"
        type="submit"
        [disabled]="!submittable"
      >
        Vytvoriť účet
      </button>
    </form>
    <span class="footer">
      Máte učet? <a routerLink="/login" class="login">Prihlásiť sa</a>
    </span>
  </div>
</div>
