<div *ngIf="business" class="card">
  <img
    src="{{business.headerImage}}"
    class="card-image"
    alt="Business image"
  />
  <div class="content">
    <p>{{business.name}}</p>
    <p class="address">{{business.address.street}}, {{business.address.town}}</p> <!-- TODO: move to pipe -->
    <div class="rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <span class="rating-text">(325)</span>
    </div>
    <div class="tag">
      <i class="fas fa-cut tag-icon"></i>
      <span class="tag-text">Kaderníctvo</span>
    </div>
    <div class="tag" *ngIf="isFavorite">
      <i class="fas fa-heart tag-icon"></i>
      <span class="tag-text">Obľúbené</span>
    </div>
  </div>
</div>
