<div class="card">
  <img
    src="https://images.pexels.com/photos/1559486/pexels-photo-1559486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
    alt="Profile image"
    class="account-image"
  />
  <div class="options">
    <a class="option">
      <div class="option-inner">
        <i class="fas fa-star"></i>
        Recenzie
      </div>
    </a>
    <a class="option">
      <div class="option-inner">
        <i class="fas fa-history"></i>
        História
      </div>
    </a>
    <a class="option">
      <div class="option-inner">
        <i class="fas fa-cog"></i>
        Nastavenia
      </div>
    </a>
    <a class="option">
      <div class="option-inner">
        <i class="fas fa-sign-out-alt"></i>
        Odhlásiť sa
      </div>
    </a>
  </div>
</div>
